@font-face {
  font-family: spigen;
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
  src: url("../fonts/Gotham-Medium.woff") format("woff");
}

body {
  background-color: #fafafa;
}

p, h1, h2, h3 {
  font-family: spigen;
}

.grey {
  background-color: #e2e2e2;
}

.greys {
  background-color: #d8d2d4;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}

.whites {
  background-color: #fafafa;
}

#topbox {
  position: relative;
}

#past {
  margin: 0;
  color: #fafafa;
}

#tenyrs {
  color: #fafafa;
  margin-bottom: 0.3rem;
  line-height: 1.8rem;
}

#firstline, #secondline, #thirdline {
  margin-bottom: 0;
}

#inner {
  padding: 0rem !important;
}

#firstline {
  padding-top: 6rem !important;
}

#thirdline {
  padding-bottom: 7rem !important;
}

#imgs {
  padding-bottom: 7rem !important;
}

/* XXSmall devices (vertical phones, 200px and up) */

@media (min-width: 200px) {
  #firstline {
    font-size: 6px;
  }
  #secondline, #past {
    font-size: 20px;
  }
  /*1rem = 16px*/
  #thirdline {
    font-size: 10px;
  }
  #tenyrs {
    font-size: 4px;
    color: #fafafa;
    padding-left: 0rem;
    margin-bottom: 0.3rem;
    line-height: 0.4rem;
  }
  .cd-handle-horizontal {
    position: absolute;
    height: 26px;
    width: 26px;
    /* center the element */
    left: 50%;
    top: 60%;
    z-index: 15;
    margin-left: -16px;
    margin-top: -14px;
    border-radius: 50%;
    background: #fafafa url("../img/arrow_medium.jpg") no-repeat center center;
    cursor: move;
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0) scale(1);
    -moz-transform: translate3d(0, -150px, 0) scale(1);
    -ms-transform: translate3d(0, -150px, 0) scale(1);
    -o-transform: translate3d(0, -150px, 0) scale(1);
    transform: translate3d(0, -150px, 0) scale(1);
  }
}

/* XSmall devices (vertical phones, 320px and up) */

@media (min-width: 320px) {
  #firstline {
    font-size: 8.65px;
  }
  #secondline, #past {
    font-size: 30px;
  }
  /*1rem = 16px*/
  #thirdline {
    font-size: 15px;
  }
  #tenyrs {
    font-size: 6px;
    color: #fafafa;
    margin-bottom: 0.3rem;
    line-height: 0.6rem;
  }
  .cd-handle-horizontal {
    position: absolute;
    height: 26px;
    width: 26px;
    /* center the element */
    left: 50%;
    top: 60%;
    z-index: 15;
    margin-left: -16px;
    margin-top: -14px;
    border-radius: 50%;
    background: #fafafa url("../img/arrow_medium.jpg") no-repeat center center;
    cursor: move;
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0) scale(1);
    -moz-transform: translate3d(0, -150px, 0) scale(1);
    -ms-transform: translate3d(0, -150px, 0) scale(1);
    -o-transform: translate3d(0, -150px, 0) scale(1);
    transform: translate3d(0, -150px, 0) scale(1);
  }
}

/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
  #firstline {
    font-size: 12px;
  }
  #secondline, #past {
    font-size: 40px;
  }
  /*1rem = 16px*/
  #thirdline {
    font-size: 20px;
  }
  #tenyrs {
    font-size: 10px;
    color: #fafafa;
    margin-bottom: 0.3rem;
    line-height: 0.8rem;
  }
  .cd-handle-horizontal {
    position: absolute;
    height: 26px;
    width: 26px;
    /* center the element */
    left: 50%;
    top: 60%;
    z-index: 15;
    margin-left: -16px;
    margin-top: -14px;
    border-radius: 50%;
    background: #fafafa url("../img/arrow_medium.jpg") no-repeat center center;
    cursor: move;
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0) scale(1);
    -moz-transform: translate3d(0, -150px, 0) scale(1);
    -ms-transform: translate3d(0, -150px, 0) scale(1);
    -o-transform: translate3d(0, -150px, 0) scale(1);
    transform: translate3d(0, -150px, 0) scale(1);
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
  #firstline {
    font-size: 15px;
  }
  #secondline, #past {
    font-size: 50px;
  }
  /*1rem = 16px*/
  #thirdline {
    font-size: 25px;
  }
  #tenyrs {
    font-size: 15px;
    color: #fafafa;
    margin-bottom: 0.3rem;
    line-height: 1.2rem;
  }
  .cd-handle-horizontal {
    position: absolute;
    height: 26px;
    width: 26px;
    /* center the element */
    left: 50%;
    top: 60%;
    z-index: 15;
    margin-left: -16px;
    margin-top: -14px;
    border-radius: 50%;
    background: #fafafa url("../img/arrow_medium.jpg") no-repeat center center;
    cursor: move;
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0) scale(1);
    -moz-transform: translate3d(0, -500px, 0) scale(1);
    -ms-transform: translate3d(0, -500px, 0) scale(1);
    -o-transform: translate3d(0, -500px, 0) scale(1);
    transform: translate3d(0, -500px, 0) scale(1);
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  #firstline {
    font-size: 21px;
  }
  #secondline, #past {
    font-size: 70px;
  }
  /*1rem = 16px*/
  #thirdline {
    font-size: 35px;
  }
  #tenyrs {
    font-size: 21px;
    color: #fafafa;
    margin-bottom: 0.3rem;
    line-height: 1.8rem;
  }
  .cd-handle-horizontal {
    position: absolute;
    height: 44px;
    width: 44px;
    /* center the element */
    left: 50%;
    top: 60%;
    z-index: 15;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    background: #fafafa url("../img/arrow.jpg") no-repeat center center;
    cursor: move;
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0) scale(1);
    -moz-transform: translate3d(0, -500px, 0) scale(1);
    -ms-transform: translate3d(0, -500px, 0) scale(1);
    -o-transform: translate3d(0, -500px, 0) scale(1);
    transform: translate3d(0, -500px, 0) scale(1);
  }
  .spigen-single-point:nth-of-type(1) {
    top: 2%;
    left: 65%;
  }
  .spigen-single-point:nth-of-type(2) {
    top: 19.5%;
    left: 91%;
  }
  .spigen-single-point:nth-of-type(3) {
    top: 35%;
    left: 18.5%;
  }
  .spigen-single-point:nth-of-type(4) {
    top: 44.5%;
    left: 73%;
  }
  .spigen-single-point:nth-of-type(5) {
    top: 67%;
    left: 55.5%;
  }
  .spigen-single-point:nth-of-type(6) {
    top: 8%;
    left: 30%;
  }
  .spigen-single-point:nth-of-type(7) {
    top: 19.5%;
    left: 22%;
  }
  .spigen-single-point:nth-of-type(8) {
    top: 15%;
    left: 63%;
  }
  .spigen-single-point:nth-of-type(9) {
    top: 63%;
    left: 66.5%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  #firstline {
    font-size: 24px;
  }
  #secondline, #past {
    font-size: 80px;
  }
  /*1rem = 16px*/
  #thirdline {
    font-size: 40px;
  }
  #tenyrs {
    font-size: 24px;
    color: #fafafa;
    margin-bottom: 0.3rem;
    line-height: 1.8rem;
  }
  .cd-handle-horizontal {
    position: absolute;
    height: 44px;
    width: 44px;
    /* center the element */
    left: 50%;
    top: 60%;
    z-index: 15;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    background: #fafafa url("../img/arrow.jpg") no-repeat center center;
    cursor: move;
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0) scale(1);
    -moz-transform: translate3d(0, -500px, 0) scale(1);
    -ms-transform: translate3d(0, -500px, 0) scale(1);
    -o-transform: translate3d(0, -500px, 0) scale(1);
    transform: translate3d(0, -500px, 0) scale(1);
  }
  .spigen-single-point:nth-of-type(1) {
    top: 2%;
    left: 60%;
  }
  .spigen-single-point:nth-of-type(2) {
    top: 19.5%;
    left: 82%;
  }
  .spigen-single-point:nth-of-type(3) {
    top: 35%;
    left: 18.5%;
  }
  .spigen-single-point:nth-of-type(4) {
    top: 44.5%;
    left: 66.5%;
  }
  .spigen-single-point:nth-of-type(5) {
    top: 67%;
    left: 52%;
  }
  .spigen-single-point:nth-of-type(6) {
    top: 8%;
    left: 30%;
  }
  .spigen-single-point:nth-of-type(7) {
    top: 19.5%;
    left: 22%;
  }
  .spigen-single-point:nth-of-type(8) {
    top: 15%;
    left: 63%;
  }
  .spigen-single-point:nth-of-type(9) {
    top: 63%;
    left: 66.5%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1366px;
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-image-container-horizontal {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
}

.cd-image-container-horizontal img {
  display: block;
}

.cd-image-label-horizontal {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-image-label-horizontal.is-hidden {
  visibility: hidden;
}

.is-visible-horizontal .cd-image-label-horizontal {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img-horizontal {
  position: absolute;
  top: 0;
  left: 30;
  width: 100%;
  height: 0;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-resize-img-horizontal img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
}

.cd-resize-img-horizontal .cd-image-label-horizontal {
  right: auto;
  left: 0;
}

.is-visible-horizontal .cd-resize-img-horizontal {
  height: 60%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in-horizontal 1.5s;
  -moz-animation: cd-bounce-in-horizontal 1.5s;
  animation: cd-bounce-in-horizontal 1.5s;
}

@-webkit-keyframes cd-bounce-in-horizontal {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@-moz-keyframes cd-bounce-in-horizontal {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

@keyframes cd-bounce-in-horizontal {
  0% {
    height: 0%;
  }
  100% {
    height: 60%;
  }
}

.cd-handle-horizontal.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}

.is-visible-horizontal .cd-handle-horizontal {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  transition: transform 1.5s;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.spigen-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1366;
  margin: 0 auto;
}

.spigen-container:after {
  content: "";
  display: table;
  clear: both;
}

.spigen-img-replace {
  /* replace text with background images */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.spigen-product {
  text-align: center;
}

.spigen-product-wrapper {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}

.spigen-product-wrapper>img {
  display: block;
}

.spigen-single-point {
  position: absolute;
  border-radius: 50%;
}

.spigen-single-point>a {
  position: relative;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: inherit;
  background: #d95353;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.spigen-single-point>a::after, .spigen-single-point>a:before {
  /* rotating plus icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.spigen-single-point>a::after {
  height: 2px;
  width: 12px;
}

.spigen-single-point>a::before {
  height: 12px;
  width: 2px;
}

.spigen-single-point::after {
  /* this is used to create the pulse animation */
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: transparent;
  -webkit-animation: cd-pulse 2s infinite;
  -moz-animation: cd-pulse 2s infinite;
  animation: cd-pulse 2s infinite;
}

/* .spigen-single-point:nth-of-type(1) {
  top: 2%;
  left: 65%;
}
.spigen-single-point:nth-of-type(2) {
  top: 19.5%;
  left: 91%;
}
.spigen-single-point:nth-of-type(3) {
  top: 35%;
  left: 18.5%;
}
.spigen-single-point:nth-of-type(4) {
  top: 44.5%;
  left: 73%;
}
.spigen-single-point:nth-of-type(5) {
  top: 67%;
  left: 55.5%;
} */

.spigen-single-point.is-open>a {
  background-color: #475f74;
}

.spigen-single-point.is-open>a::after, .spigen-single-point.is-open>a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

.spigen-single-point.is-open::after {
  /* remove pulse effect */
  display: none;
}

.spigen-single-point.is-open .spigen-more-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}

@media only screen and (min-width: 600px) {
  .spigen-single-point.is-open .spigen-more-info.spigen-left {
    right: 140%;
  }
  .spigen-single-point.is-open .spigen-more-info.spigen-right {
    left: 140%;
  }
  .spigen-single-point.is-open .spigen-more-info.spigen-rightHard {
    left: 140%;
  }
  .spigen-single-point.is-open .spigen-more-info.spigen-top {
    bottom: 140%;
  }
  .spigen-single-point.is-open .spigen-more-info.spigen-bottom {
    top: 140%;
  }
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}

.spigen-single-point .spigen-more-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2em 1em 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}

.spigen-single-point .spigen-more-info::before {
  /* triangle next to the interest point description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: none;
  border: 8px solid transparent;
}

.spigen-single-point .spigen-more-info h2 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: .6em;
}

.spigen-single-point .spigen-more-info p {
  color: #758eb1;
}

@media only screen and (min-width: 600px) {
  .spigen-single-point .spigen-more-info {
    position: absolute;
    width: 300px;
    height: 50px;
    padding: 0em;
    overflow-y: visible;
    line-height: 1.4;
    border-radius: 0.25em;
    background-color: #fafafa;
  }
  .spigen-single-point .spigen-more-info::before {
    display: block;
  }
  .spigen-single-point .spigen-more-info.spigen-left, .spigen-single-point .spigen-more-info.spigen-right, .spigen-single-point .spigen-more-info.spigen-rightHard {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .spigen-single-point .spigen-more-info.spigen-left::before, .spigen-single-point .spigen-more-info.spigen-right::before, .spigen-single-point .spigen-more-info.spigen-rightHard::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .spigen-single-point .spigen-more-info.spigen-left {
    padding-top: 0.75em;
    width: 140px;
    height: 50px;
    right: 160%;
    left: auto;
    text-align: right;
  }
  .spigen-single-point .spigen-more-info.spigen-left::before {
    border-left-color: rgba(255, 255, 255, 0.95);
    left: 100%;
  }
  .spigen-single-point .spigen-more-info.spigen-right {
    left: 160%;
  }
  .spigen-single-point .spigen-more-info.spigen-rightHard {
    padding-top: 0.75em;
    left: 160%;
  }
  .spigen-single-point .spigen-more-info.spigen-right::before {
    border-right-color: rgba(255, 255, 255, 0.95);
    right: 100%;
  }
  .spigen-single-point .spigen-more-info.spigen-rightHard::before {
    border-right-color: rgba(255, 255, 255, 0.95);
    right: 100%;
  }
  .spigen-single-point .spigen-more-info.spigen-top, .spigen-single-point .spigen-more-info.spigen-bottom {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .spigen-single-point .spigen-more-info.spigen-top::before, .spigen-single-point .spigen-more-info.spigen-bottom::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .spigen-single-point .spigen-more-info.spigen-top {
    bottom: 160%;
    top: auto;
  }
  .spigen-single-point .spigen-more-info.spigen-top::before {
    border-top-color: rgba(255, 255, 255, 0.95);
    top: 100%;
  }
  .spigen-single-point .spigen-more-info.spigen-bottom {
    top: 160%;
  }
  .spigen-single-point .spigen-more-info.spigen-bottom::before {
    border-bottom-color: rgba(255, 255, 255, 0.95);
    bottom: 100%;
  }
  .spigen-single-point .spigen-more-info h2 {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .spigen-single-point .spigen-more-info p {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

/* close the interest point description - only on mobile */

.spigen-close-info {
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
}

.spigen-close-info::after, .spigen-close-info:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: #475f74;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.spigen-close-info::after {
  height: 2px;
  width: 16px;
}

.spigen-close-info::before {
  height: 16px;
  width: 2px;
}

@media only screen and (min-width: 600px) {
  .spigen-close-info {
    display: none;
  }
}

ol, ul {
  list-style: none;
}

/* Only Show Points of interest From Tablet) */

@media (max-width: 812px) {
  .spigen-single-point {
    display: none;
  }
}

.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
}

.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-image-label.is-hidden {
  visibility: hidden;
}

.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 30;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

.is-visible .cd-resize-img {
  width: 70%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 2s;
  -moz-animation: cd-bounce-in 2s;
  animation: cd-bounce-in 2s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-moz-keyframes cd-bounce-in {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes cd-bounce-in {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.cd-handle {
  position: absolute;
  height: 2rem;
  width: 2rem;
  /* center the element */
  left: 70%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #ffffff url("../img/arrow_90.jpg") no-repeat center center;
  cursor: move;
  opacity: 1;
  -webkit-transform: translate3d(-900px, -250px, 0) scale(1);
  -moz-transform: translate3d(-900px, -250px, 0) scale(1);
  -ms-transform: translate3d(-900px, -250px, 0) scale(1);
  -o-transform: translate3d(-900px, -250px, 0) scale(1);
  transform: translate3d(-900px, -250px, 0) scale(1);
}

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  transition: transform 2s;
}

.mainimg {
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  margin: 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade-spigen {
  -webkit-animation-name: slide 18s ease infinite;
  -webkit-animation-duration: 2s;
  animation-name: slide 18s ease infinite;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media (min-width: 320px) {
  .mainimg .mainbannerleft {
    position: absolute;
    top: 55%;
    left: 13%;
    z-index: 5;
  }
  
  .mainimg .mainbannerright {
    position: absolute;
    top: 55%;
    left: 71.5%;
    z-index: 5;
  }
  
  .mainimg .mainlocation {
    position: absolute;
    top: 50%;
    left: 42%;
    z-index: 5;
  }
  
  .mainimg .buttons {
    position: absolute;
    top: 35%;
    left: 80%;
    z-index: 5;
  }
  .buttons{
    width: 1rem;
  }
  .mainimg .buttons {
    position: absolute;
    top: 15%;
    left: 80%;
    z-index: 5;
  }
  .goto {
    width: 3.5rem;
  }
}

@media (min-width: 375px) {
  .mainimg .mainbannerleft {
    position: absolute;
    top: 55%;
    left: 12%;
    z-index: 5;
  }
  
  .mainimg .mainbannerright {
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: 5;
  }
  
  .mainimg .mainlocation {
    position: absolute;
    top: 50%;
    left: 41%;
    z-index: 5;
  }
  
  .mainimg .buttons {
    position: absolute;
    top: 35%;
    left: 80%;
    z-index: 5;
  }
  
  .goto {
    width: 4.5rem;
  }

  .buttons{
    width: 1rem;
  }
  .mainimg .buttons {
    position: absolute;
    top: 15%;
    left: 80%;
    z-index: 5;
  }
}


@media (min-width: 768px) {
  .mainimg .mainbannerleft {
    position: absolute;
    top: 55%;
    left: 12%;
    z-index: 5;
  }
  
  .mainimg .mainbannerright {
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: 5;
  }
  
  .mainimg .mainlocation {
    position: absolute;
    top: 50%;
    left: 43.5%;
    z-index: 5;
  }
  
  .mainimg .buttons {
    position: absolute;
    top: 35%;
    left: 80%;
    z-index: 5;
  }
  .goto {
    width: 6rem;
  }

  .buttons{
    width: 2rem;
  }
  .mainimg .buttons {
    position: absolute;
    top: 15%;
    left: 80%;
    z-index: 5;
  }
}
@media (min-width: 1024px) {
  .mainimg .mainbannerleft {
    position: absolute;
    top: 55%;
    left: 12%;
    z-index: 5;
  }
  
  .mainimg .mainbannerright {
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: 5;
  }
  
  .mainimg .mainlocation {
    position: absolute;
    top: 50%;
    left: 43.5%;
    z-index: 5;
  }
  
  .mainimg .buttons {
    position: absolute;
    top: 35%;
    left: 80%;
    z-index: 5;
  }

  .goto {
    width: 8rem;
  }
}

@media (min-width: 1080px) {
  .mainimg .mainbannerleft {
    position: absolute;
    top: 55%;
    left: 12%;
    z-index: 5;
  }
  
  .mainimg .mainbannerright {
    position: absolute;
    top: 55%;
    left: 70%;
    z-index: 5;
  }
  
  .mainimg .mainlocation {
    position: absolute;
    top: 50%;
    left: 43%;
    z-index: 5;
  }
  
  .mainimg .buttons {
    position: absolute;
    top: 35%;
    left: 80%;
    z-index: 5;
  }

  .goto {
    width: 15rem;
  }
}

.dot.active {
  margin-left: -10px;
}